html,
body {
	height: 100%;
}

body{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 27px;
	font-weight: 400;
	color: $default;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.main {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}

.container{
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}





