html,
body {
	height: 100%;
}

body{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 27px;
	font-weight: 400;
	color: $default;
	overflow-x: hidden;
	min-width: 320px;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.main {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}

.container{
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.slick-dots{
	display: flex;
	justify-content: center;
	align-items: center;
	li{
		padding: 0 15px;
	}
	button{
		background-color: $title;
		border: none;
		width: 8px;
		height: 8px;
		border-radius: 50%;
		padding: 0;
		font-size: 0;
	}
	li.slick-active{
		button{
			background-color: #FFEF35;
		}
	}
}





