@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header{
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 120px;
    }
    &__btn{
        background-color: transparent;
        border: none;
        padding: 0;
        cursor: pointer;
    }
}

.logo{
    margin: 0 auto;
    position: relative;
}

.logo::after{
    background-image: url(../images/logo.png);
    width: 97px;
    height: 31px;
    position: absolute;
    content: "";
    top: 1px;
    right: 1px;
}

.menu{
    padding-right: 15px;
    &__list{
        display: flex;
    }
    &__list-item{
        padding-left: 35px;
        padding-right: 45px;
    }
    &__list-link{
        @extend %title-font;
        color: rgba(54, 56, 56, 0.9033);
        line-height: 22px;
    }
}

