@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header{
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 120px;
    }
    &__btn{
        background-color: transparent;
        border: none;
        padding: 0;
        cursor: pointer;
    }
}

.logo{
    margin: 0 auto;
    position: relative;
}

.logo::after{
    background-image: url(../images/logo.png);
    width: 97px;
    height: 31px;
    position: absolute;
    content: "";
    top: 1px;
    right: 1px;
}

.menu{
    padding-right: 15px;
    &__list{
        display: flex;
    }
    &__list-item{
        padding-left: 35px;
        padding-right: 45px;
    }
    &__list-link{
        @extend %title-font;
        color: rgba(54, 56, 56, 0.9033);
        line-height: 22px;
    }
    &__list-link--active{
        padding-bottom: 4px;
        position: relative;
        &::after{
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 2px;
            border-radius: 1px;
            background-color: rgba($title, .7);
        }
    }
}

.footer{
    &__content{
        background-color: #dfdfdf;
        padding: 60px 0 80px;
    }
    &__inner{
        display: flex;
        justify-content: space-between;
    }
    &__info{
        width: 540px;
    }
    &__info-title{
        color: $title;
        @extend %title-font;
        margin-bottom: 14px;
        line-height: 23px;
    }
    &__info-text{
        margin-bottom: 16px;
        max-width: 475px;
    }
    &__info-email{
        font-weight: 600;
        font-size: 14px;
        color: $title;
        margin-bottom: 22px;
        padding-left: 30px;
        display: inline-block;
        position: relative;
        &::before{
            content: "";
            position: absolute;
            background-image: url(../images/envelope.svg);
            left: 0;
            top: 8px;
            width: 16px;
            height: 12px;
        }
    }
    &__form{
        display: flex;
    }
    &__form-input{
        padding: 6px 10px 6px 18px;
        border-radius: 21px;
        background-color: transparent;
        border: 1px solid rgba($title, .7);
        outline: none;
        width: 100%;
        &::placeholder{
            font-family: 'Open Sans', sans-serif;
	        font-weight: 400;
            font-size: 16px;
            line-height: 27px;
            color: A1A1A1;
        }
    }
    &__form-button{
        background-color: $title;
        border: 1px solid $title;
        color: #fffff0;
        border-radius: 21px;
        font-weight: 600;
        padding: 6px 12px;
        min-width: 160px;
        margin-left: 9px;
        cursor: pointer;
    }
    &__copyright{
        background-color: $title;
        color: #A1A1A1;
        text-align: center;
        padding: 42px 0 41px;
    }
    &__social{
        width: 125px;
        margin-right: auto;
        margin-left: 100px;
    }
    
    &__menu{
        margin-right: 60px;
        width: 125px;
    }
    &__social-item,
    &__menu-item{
        margin-bottom: 15px;
        font-size: 14px;
        font-weight: 600; 
    }
    &__social-link,
    &__menu-link{
        color: #707070;
    }
    &__social-link{
        padding-left: 28px;
        position: relative;
        &::before{
            content: "";
            position: absolute;
            left: 0;
            top: 3px;
            width: 16px;
            height: 16px;
        }
    }
    &__social-link--facebook::before{
        background-image: url(../images/facebook.svg);
    }
    &__social-link--instagram::before{
        background-image: url(../images/instagram.svg);
        width: 14px;
        height: 14px;
        top: 4px;
    }
    &__social-link--pinterest::before{
        background-image: url(../images/pinterest.svg);
    }
    &__social-link--whatsapp::before{
        background-image: url(../images/whatsapp.svg);
        width: 14px;
        height: 14px;
    }
    &__social-link--youtube::before{
        background-image: url(../images/youtube.svg);
        top: 4px;
        width: 18px;
        height: 12px;
    }
}

.rightside-menu{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    max-width: 694px;
    width: 100%;
    background-color: #fff;
    padding-top: 40px;
    z-index: 1;
    box-shadow: -2px 3px 17px 0px #000;
    transition: all 1s;
    &.rightside-menu--close{
        transform: translateX(150%);
        transition: all .7s;
    }
    &__close{
        background-color: transparent;
        border: none;
        padding: 0;
        cursor: pointer;
        margin-left: 50px;
        margin-bottom: 60px;
    }
    &__content{
        text-align: center;
        max-width: 485px;
        margin: 0 auto;
    }
    &__logo{
        margin-bottom: 40px;
        display: inline-block;
    }
    &__title{
        color: $title;
        @extend %title-font;
        font-size: 36px;
        line-height: 51px;
        margin-bottom: 17px;
        position: relative;
        padding-bottom: 17px;
        &::after{
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            max-width: 252px;
            margin: 0 auto;
            height: 1px;
            background: #6D7278;
        }
    }
    &__text{
        margin-bottom: 75px;
    }
    &__images{
        max-width: 485px;
    }
}

.breadcrumbs{
    background: rgba(#dfdfdf, .5);
    padding: 13px 14px;
    &__list{
        display: flex;
    }
    &__item::after{
        content: "/";
        margin-left: -4px;
        margin-right: 4px;
    }
    &__item:last-child::after{
        display: none;
    }
    &__link{
        font-size: 14px;
        color: $default;
    }
}

.top{
    &__inner{
        padding-bottom: 70px;
        position: relative;
        &::after{
            content: "";
            position: absolute;
            background-image: url(../images/slider-bg.jpg);
            width: 100%;
            height: 722px;
            top: 0;
            z-index: -1;
        }
    }
    &__slider-item{
        display: flex !important; 
        justify-content: center;
        align-items: center;
        
    }
    &__slider-img{
        margin-left: -15%;
        max-width: 703px;
        height: 815px;
        object-fit: cover;
    }
    &__slider-info{
        max-width: 645px;
        margin-left: 25px;
    }
    &__slider-title{
        @extend %title-font;
        color: $title;
        font-size: 110px;
        line-height: 135px;
        padding-bottom: 26px;
        margin-bottom: 26px;
        position: relative;
        &::after{
            position: absolute;
            content: "";
            left: 0;
            bottom: 0;
            width: 185px;
            height: 1px;
            background: #6D7278;
        }
    }
    &__slider-text{
        max-width: 515px;
    }
}

.new-collection{
	text-align: center;
	padding: 45px 0 35px;
	&__title{
		@extend %title-font;
		color: $title;
		font-size: 36px;
		line-height: 51px;
		padding-bottom: 25px;
		margin-bottom: 25px;
		position: relative;
		&::after{
			content: "";
			position: absolute;
			width: 250px;
			height: 1px;
			bottom: 0;
			left: 0;
			right: 0;
			margin: 0 auto;
			background-color: #6D7278;
		}
	}
	&__text{
		max-width: 730px;
		margin: 0 auto 30px;
	}
}

.collection{
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	// grid-gap: 30px;
    grid-row-gap: 30px;
    grid-column-gap: 30px;
    padding-bottom: 70px;
	&__item{
		position: relative;
		&:hover{
			.collection__info{
				opacity: 1;
			}
		}
	}
	&__images{
		min-height: 350px;
		object-fit: cover;
	}
	&__info{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(#fff, .7);
		padding: 10px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		opacity: 0;
		transition: all .5s;
	}
	&__info-title{
		font-size: 20px;
		line-height: 25px;
		color: $title;
		@extend %title-font;
		padding-bottom: 19px;
		margin-bottom: 19px;
		position: relative;
		&::after{
			content: "";
			position: absolute;
			height: 1px;
			background-color: #6d7278;
			width: 80%;
			margin: 0 auto;
			left: 0;
			right: 0;
			bottom: 0;
		}
	}
	&__info-text{
		font-weight: 600;
		font-size: 14px;
		color: #707070;
	}
}

.decore{
	padding: 170px 0 155px;
	background-image: url(../images/decor-bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 600px;
	&__title{
		max-width: 650px;
		color: $title;
		@extend %title-font;
		font-size: 60px;
		line-height: 80px;
		padding-bottom: 22px;
		margin-bottom: 22px;
		position: relative;
		&::after{
			content: "";
			position: absolute;
			left: 0;
			bottom: 0;
			height: 1px;
			width: 200px;
			background-color: #6d7278;
		}
	}
	&__text{
		max-width: 600px;
	}
}

.works-path{
	padding: 80px 0 30px;
	&__title{
		@extend %title-font;
		text-align: center;
		color: $title;
		margin-bottom: 40px;
		font-size: 36px;
		line-height: 51px;
	}
    &__items-box{
        display: flex;
        align-items: flex-end;
        border-bottom: 2px solid rgba($title, .7);
        position: relative;
        &::before{
            position: absolute;
            content: "";
            bottom: -5px;
            left: 0;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: $title;
        }
    }
    &__item{
        width: 400px;
        // width: 250px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        position: relative;
        height: 100%;
    }
    &__item--production{
        margin-left: 317px;
        &::after{
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            height: 20px;
            width: 2px;
            background-color: rgba($title, .7);
        }
    }
    &__item--production,
    &__item--consultation{
        padding-bottom: 38px;
    }
    &__item--measurements{
        padding-top: 38px;
        margin-left: 360px;
        &::before{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 20px;
            width: 2px;
            background-color: rgba($title, .7);
        }
    }
    &__item-title{
        margin-left: 13px;
        color: $title;
        @extend %title-font;
    }
    &__item-text{
        margin-top: 13px;
    }
}

.gallery{
    padding: 80px 0 90px;
    &__buttons{
        text-align: center;
        margin-bottom: 40px;
    }
    &__btn{
        margin: 0 13px;
        background-color: transparent;
        border: 1px solid #8F8D8D;
        border-radius: 20px;
        padding: 6px 16px;
        color: #8F8D8D;
        font-size: 14px;
        font-weight: 600;
        cursor: pointer;
    }
    .mixitup-control-active{
        background-color: rgba(255, 239, 53, 0.5);
        color: #000;
        border: 1px solid rgba(255, 239, 53, 0.5);
    }
    &__items{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-row-gap: 30px;
        grid-column-gap: 35px;
    }
    &__item:first-child{
        grid-column: span 2;
        grid-row: span 2;
    }
    &__item img{
        object-fit: cover;
        width: 100%;
        max-height: 1150px;
        height: 100%;
    }
    &.gallery-page{
        .gallery__item img{
            max-height: 1165px;
        }
        .gallery__item:nth-child(8){
            grid-column: span 2;
            grid-row: span 2;
        }
    }
}

.blog-box{
    padding-bottom: 100px;
    &__title{
        color: $title;
        @extend %title-font;
        font-size: 36px;
        line-height: 51px;
        margin: 0 auto 30px;
        text-align: center;
        max-width: 430px;
    }
    &__items{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 30px;
        grid-column-gap: 30px;
    }
    &__img-link{
        margin-bottom: 19px;
        display: inline-block;
    }
    &__links{
        margin-bottom: 9px;
        font-size: 14px;
        font-weight: 600;
        color: #707070;
    }
    &__date,
    &__author,
    &__theme{
        color: inherit;
    }
    &__item-title{
        color: $title;
        font-size: 24px;
        line-height: 38px;
        @extend %title-font;
    }
}

.about{
    &__prev{
        background-image: url(../images/about-bg.jpg);
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
        text-align: center;
        padding: 160px 0;
        margin-top: -53px;
    }
    &__prev-title{
        color: $title;
        @extend %title-font;
        font-size: 60px;
        line-height: 80px;
    }
    &__content{
        padding: 130px 0 40px;
    }
    &__title{
        color: $title;
        @extend %title-font;
        font-size: 36px;
        line-height: 60px;
        padding-bottom: 22px;
        margin-bottom: 22px;
        position: relative;
        &::after{
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 200px;
            height: 2px;
            background-color: #6d7278;
        }
    }
    &__text{
        padding-left: 284px;
        p{
            margin-bottom: 30px;
        }
    }
    &__popup{
        background-image: url(../images/popup-bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
        min-height: 414px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.inspiration{
    padding-top: 100px;
    position: relative;
    &::after{
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-image: url(../images/inspiration-bg.jpg);
        height: 362px;
        z-index: -1;
    }
    &__inner{
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    &__images{
        margin-right: 78px;
        margin-left: -230px;
    }
    &__content{
        max-width: 825px;
    }
    &__title{
        font-size: 36px;
        line-height: 60px;
        color: $title;
        @extend %title-font;
        padding-bottom: 16px;
        margin-bottom: 24px;
        position: relative;
        &::after{
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            background: #6d7278;
            width: 200px;
            height: 2px;
        }
    }
    &__text{
        margin-bottom: 30px;
    }
    &__item{
        line-height: 23px;
        color: $title;
        @extend %title-font;
        margin-bottom: 33px;
    }
    &__item-content{
        display: flex;
        justify-content: space-between;
        padding-bottom: 14px;
        border-bottom: 2px solid #fff;
        border-radius: 4px;
    }
    &__line{
        height: 2px;
        background-color: $title;
        border-radius: 4px;
        margin-top: -2px;
    }
}

.partners{
    padding: 16px 0 60px;
    &__items{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }
    &__item{
        margin: 0 auto;
    }
}